<!-- blogs.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>All Blogs</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item"><a href="http://localhost:3002">Home</a></li>
    <li class="nav-item"><a href="http://localhost:3002/createblog">Create</a></li>
    <li class="nav-item"><a href="http://localhost:3002/about">About</a></li>
    <li class="nav-item"><a href="http://localhost:3002/contact">Contact</a></li>
  </ul>
</nav>
<br><br>

<div class=" custom-header">
  <h1>Discover a World of Stories</h1>
</div>
<br><br>
<div class="blogs-container">
  <% blogs.forEach(blog => { %> <!-- Corrected arrow function syntax -->
    <div class="blog">
      <h2><%= blog.title %></h2><br>
      <img src="<%= blog.imagepath %>" alt="<%= blog.title %>">
      <br>
      <p class="blogpara"><%= blog.content %></p>
    </div>
    <br><br><br><br>
  <% }); %>
</div>

</body>
</html>
